* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

#dv1 {
  background-color: #f34;
}

#dv2 {
  background-color: #0f0;
}

#dv3 {
  background-color: #00f;
}
.navbar-brand img{
  height: 70px;
 
}